# Binaries
bin/
*.exe
*.exe.log
*.dll
*.so
*.dylib

# Test & Coverage
*.out
*.cover
coverage.txt

# Environment files
.env
.env.local

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS Generated
.DS_Store
Thumbs.db

# Docker volumes / data
postgres_data/
redis_data/

# System logs & temporary files
*.log
tmp/
